# Neo4J FQHN
NEO4J_HOST = "neo4j-server.domain"
NEO4J_USER = "neo4j"
NEO4J_PASSWORD = "neo4j"
NEO4J_PORT_HTTP = 443
NEO4J_PORT_BOLT = 7687
# uncomment the following to ignore db parameter and always use this database
#NEO4J_DATABASE = "neo4j"
PUBLIC_URL = "https://api.grapho.app"
QUERY_LIMIT = 300
INCLUDE_FIXED_QUERIES = False