[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
squarify = "*"
pandas = "*"
update = "*"
wordcloud = "*"
pillow = "*"
apispec = "*"
matplotlib = "*"
tweepy = "*"
imgkit = "*"
pipenv = "*"
bs4 = "*"
lxml = "*"
apistar = "*"
neo4j = "*"
setuptools = "*"
pip = "*"
wheel = "*"
aiofiles = "*"
aniso8601 = "*"
anyio = "*"
beautifulsoup4 = "*"
certifi = "*"
chardet = "*"
charset-normalizer = "*"
click = "*"
contourpy = "*"
cycler = "*"
cython = "*"
distlib = "*"
docopt = "*"
filelock = "*"
fonttools = "*"
graphql-core = "*"
graphql-relay = "*"
h11 = "*"
httpcore = "*"
httptools = "*"
httpx = "*"
idna = "*"
iniconfig = "*"
itsdangerous = "*"
jinja2 = "*"
kiwisolver = "*"
markupsafe = "*"
marshmallow = "*"
numpy = "*"
oauthlib = "*"
packaging = "*"
platformdirs = "*"
pluggy = "*"
pyparsing = "*"
python-dateutil = "*"
python-dotenv = "*"
python-multipart = "*"
pytz = "*"
pyyaml = "*"
requests-oauthlib = "*"
requests-toolbelt = "*"
rfc3986 = "*"
six = "*"
sniffio = "*"
soupsieve = "*"
starlette = "*"
style = "*"
tzdata = "*"
urllib3 = "*"
uvicorn ="*"
uvloop = "*"
virtualenv = "*"
watchfiles = "*"
wcwidth = "*"
websockets = "*"
whitenoise = "*"
requests = "*"
graphene = "*"
responder = "*"
typesystem = "==0.2.5"
colorama = "*"

[dev-packages]

[requires]

[pipenv]
allow_prereleases = false
