[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==8.2.2"
squarify = "==0.4.3"
pandas = "==2.2.2"
update = "==0.0.1"
wordcloud = "==1.9.3"
pillow = "==10.3.0"
apispec = "==6.6.1"
prompt-toolkit = "==3.0.47"
matplotlib = "==3.9.0"
tweepy = "==4.14.0"
imgkit = "==1.2.3"
pipenv = "==2024.0.1"
bs4 = "==0.0.2"
lxml = "==5.2.2"
apistar = "==0.7.2"
typesystem = "==0.2.5"
neo4j = "==5.21.0"
setuptools = "*"
pip = "*"
wheel = "*"
aiofiles = "==23.2.1"
aniso8601 = "==9.0.1"
anyio = "==4.4.0"
beautifulsoup4 = "==4.12.3"
certifi = "==2024.6.2"
chardet = "==5.2.0"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
contourpy = "==1.2.1"
cycler = "==0.12.1"
cython = "==3.0.10"
distlib = "==0.3.8"
docopt = "==0.6.2"
filelock = "==3.15.1"
fonttools = "==4.53.0"
graphene = "==3.3"
graphql-core = "==3.2.3"
graphql-relay = "==3.2.0"
h11 = "==0.14.0"
httpcore = "==1.0.5"
httptools = "==0.6.1"
httpx = "==0.27.0"
idna = "==3.7"
iniconfig = "==2.0.0"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.4"
kiwisolver = "==1.4.5"
markupsafe = "==2.1.5"
marshmallow = "==3.21.3"
numpy = "==1.26.4"
oauthlib = "==3.2.2"
packaging = "==24.1"
platformdirs = "==4.2.2"
pluggy = "==1.5.0"
pyparsing = "==3.1.2"
python-dateutil = "==2.9.0.post0"
python-dotenv = "==1.0.1"
python-multipart = "==0.0.9"
pytz = "==2024.1"
pyyaml = "==6.0.1"
requests = "==2.32.3"
requests-oauthlib = "==1.3.1"
requests-toolbelt = "==1.0.0"
responder = {editable = true, ref = "e9613500daf2432af5efd4910168112675004d22", git = "git+https://github.com/taoufik07/responder.git"}
rfc3986 = "==2.0.0"
six = "==1.16.0"
sniffio = "==1.3.1"
soupsieve = "==2.5"
starlette = "==0.37.2"
style = "==1.1.0"
tzdata = "==2024.1"
urllib3 = "==2.2.1"
uvicorn = "==0.30.1"
uvloop = "==0.19.0"
virtualenv = "==20.26.2"
watchfiles = "==0.22.0"
wcwidth = "==0.2.13"
websockets = "==12.0"
whitenoise = "==6.6.0"

[dev-packages]

[requires]

[pipenv]
allow_prereleases = false
